<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PageObjectWithFactories">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter" />
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter" />
		<listener class-name="com.serge.errorcollectors.TestListenerAdapter" />
		
	</listeners>

	<test thread-count="5" name="SignIn Test">
		<classes>
			<class name="com.serge.testcases.SignInTest" />

		</classes>
	</test> <!-- Test -->
	
	<test thread-count="5" name="FlightSearch Test">
		<classes>
			<class name="com.serge.testcases.FlightSerachTest" />

		</classes>
	</test> <!-- Test -->

	


</suite> <!-- Suite -->
